#ButtonBack {
    position: fixed;
    bottom: 2%;
    right: 1%;

    button {
        border-radius: 5rem;
        border: none;
        padding: 1.2rem;

        background-color: #01929c;
        color: #fff;
        font-weight: 700;

        font-size: 1.3rem;
    }

    button:hover {
        background-color: #00768d;
        cursor: pointer;
        transition: .8s;
    }
}