#Contact {
    background-color: #000;
    color: #fff;
}

.intro-contact {
    height: 100vh;
    width: 100%;

    display: flex;
    text-align: center;

    h1 {
        margin-top: auto;
        margin-bottom: auto;

        font-weight: 700;
        font-size: 6rem;

        margin-left: 1rem;
        margin-right: 1rem;
    }
}

.contact-ways {
    height: 100vh;


    h1 {
        font-size: 5rem;
        margin-bottom: auto;
        padding-left: 3rem;
        padding-right: 3rem;
    }

    p { 
        
        font-size: 2.2rem;
        text-indent: 1.6rem;
        line-height: 2.5rem;

        margin-left: 2rem;
        margin-right: 2rem;
    }

    .individual-media {
        margin-top: 1rem;
        a {
            text-decoration: none;
            font-weight: 700;
            color: #060930;
            font-size: 2.5rem;
            line-height:3rem;

            margin-left: 2rem;
            margin-right: 2rem;
        }

        p:hover {
            cursor: pointer;
            padding-left: 1rem;
            transition: .5s;
        }
    }
}