.header {
    background-color: none;
    position: fixed;

    top: 5%;
    right: 5%;

    p {
        font-size: 2rem;
    }

    p:hover {
        cursor: pointer;
        transition: .5s;
    }

}

