#Project {
    background-color: #000;
    color: #fff;

    height: 100vh;
}

.principal-content-project {
    
    padding-left: 4rem;
    padding-right: 4rem;

    .project-content:first-child {
        padding-bottom: 1;
    }

    .project-content {
        
        padding-top: 5%;
        h1 {
            font-size: 3rem;
        }
        a {
            text-decoration: none;
            color:#060930;
            font-weight: 900;
            font-size: 2rem;
        }

        a:hover {
            cursor: pointer;
            padding-left: 1rem;
            transition: .5s;
        }
    }
}